/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #333;

}

/* HEADER */
.header {
  background-color: #008080;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition: box-shadow 0.3s ease;
  box-shadow: none;
}

.header.scrolled {
  box-shadow: 2px 16px 43px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 16px 43px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 16px 43px -10px rgba(0, 0, 0, 0.75);
}

.header .container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: none;
}

.logo-icon {
  display: none;
}

.logo img {
  align-self: center;
  height: 95%;
  width: 200px;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

.navbar li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: #5ce1e6;
  transition: width 0.3s ease;
}

.navbar li a:hover::after {
  width: 100%;
}

.navbar li a:hover {
  opacity: 0.8;
}

.acoes {
  display: flex;
  gap: 15px;
}

.btn-outline {
  padding: 8px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  border: 1px solid #fff;
  color: #fff;
}

.btn-outline:hover {
  background-color: #fff;
  color: #008080;
}

.menu {
  display: none;
}

.menu img {
  height: 60px;
  margin-top: -5px;
}

#menu-toggle {
  display: none;
}

.navbar .btn-outline {
  display: none;
}


@media (max-width: 768px) {
  .menu {
    order: 1;
    display: block;
    cursor: pointer;
    z-index: 1001;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
  }

  .acoes {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: #008080;
    text-align: left;
    padding: 150px 40px;
    gap: 25px;
    transition: right 0.3s ease;
    z-index: 999;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
  }

  .logo span {
    display: none;
  }

  .navbar li a {
    display: block;
    font-size: 1.1rem;
  }

  #menu-toggle:checked+.menu+.navbar {
    left: 0;
  }

  .navbar .btn-outline {
    display: block;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    border: 1px solid #fff;
    background-color: #fff;
    color: #008080;
    text-align: center;
  }

  .logo img {
    width: 172px;
    height: auto;
  }
}


/* BANNER */
.banner {
  padding: 60px 0;
}

.banner .container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  margin-top: 90px;
}

.banner-texto {
  max-width: 500px;
}

.banner-texto h1 {
  font-size: 2.5rem;
  color: #008080;
  margin-bottom: 60px;
}


.banner-texto h1 span {
  color: black;
}

.bnt_comece {
  text-align: center;
  margin-top: 20px;
  margin-top: 100px;
  align-self: flex-start;
}

.bnt_comece .btn {
  padding: 10px 90px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  background-color: #008080;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.3s;
  align-self: self-start;
}

.bnt_comece .btn:hover {
  background-color: #06afaf;
  color: #fff;
}

.banner-texto p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: black;
}

.banner-img img {
  width: 780px;
  border-radius: 6px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.banner-img {
  position: relative;
  /* permite posicionar os quadrados dentro */
  display: inline-block;
}

/* Quadrado inferior esquerdo */
.banner-img::before {
  content: "";
  position: absolute;
  left: -50px;
  bottom: -40px;
  width: 200px;
  height: 180px;
  background-color: rgba(0, 200, 200, 0.4);
  /* azul claro */
  border-radius: 6px;
  z-index: -1;
  /* atrás da imagem */
}

/* Quadrado superior direito */
.banner-img::after {
  content: "";
  position: absolute;
  right: -40px;
  top: -30px;
  width: 200px;
  height: 150px;
  background-color: rgba(0, 128, 128, 0.6);
  border-radius: 6px;
  z-index: 1;
}


@media (max-width: 1024px) {
  .banner .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .banner-texto h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 30px;
  }

  .banner-texto p {
    font-size: 1rem;
    text-align: center;
  }

  .banner-texto {
    gap: 10px;
  }

  .bnt_comece .btn {
    padding: 10px 30px;
  }

  .banner-img img {
    max-width: 100%;
  }

  /* Quadrado inferior esquerdo */
  .banner-img::before {
    content: "";
    position: absolute;
    left: -50px;
    bottom: -40px;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 200, 200, 0.4);
    /* azul claro */
    border-radius: 6px;
    z-index: -1;
    /* atrás da imagem */
  }

  /* Quadrado superior direito */
  .banner-img::after {
    content: "";
    position: absolute;
    right: -40px;
    top: -30px;
    width: 150px;
    height: 120px;
    background-color: rgba(0, 128, 128, 0.6);
    border-radius: 6px;
    z-index: 1;
  }
}

/* monitoramento */

.monitoramento {
  background: linear-gradient(180deg, #008080, #006060);
  color: #fff;
  text-align: center;
  padding: 2px;
  border-radius: 15px;
  margin: 40px auto;
  width: 90%;
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.356) 0px 10px 36px 0px, rgba(0, 0, 0, 0.17) 0px 0px 0px 1px;
}

.monitoramento .container {
  max-width: 1000px;
  margin: auto;
  margin-top: 8%;
}

.monitoramento-texto h1 {
  font-size: 2.2rem;
  margin-bottom: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.monitoramento-texto p {
  font-size: 1.1rem;
  margin-bottom: 40px;
  opacity: 0.9;
}

.monitoramento-img img {
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


/* SERVIÇÕS */

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.servicos {
  padding: 60px 20px;
  background-color: #f5f5f5;
}

.servicos .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.servicos h1 {
  font-size: 55px;
  margin-bottom: 20px;
  color: #008080;
  margin-top: 25px;

}

.grid-servicos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;

}

.card {
  background-color: #424242;
  padding: 10px 10px;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card .icon {
  font-size: 40px;
  margin-bottom: 20px;
  display: inline-block;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #008080;
}

.card p {
  font-size: 16px;
  color: white;
  line-height: 1.6;
}

/* Responsividade adicional */
@media (max-width: 768px) {
  .servicos h1 {
    font-size: 28px;
  }

  .card h3 {
    font-size: 20px;
  }

  .card p {
    font-size: 15px;
  }
}


/* QUEM SOMOS */

.somos {
  padding: 70px 0;
  background-color: #008080;
  color: #fff;
}

.somos .section {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  margin-bottom: -8px;
}

.somos .section:nth-child(even) {
  flex-direction: row-reverse;
}

.texto_quem_somos,
.texto_diferencial {
  max-width: 500px;
  margin-left: 20px;
  margin-top: 20px;
}

.texto_quem_somos h2,
.texto_diferencial h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.texto_quem_somos p,
.texto_diferencial p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.section-img img {
  width: 380px;
  max-width: 100%;
  border-radius: 6px;
  margin-top: 10px;
}


/* BOTÕES */
.bnt_quem_somos {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  background-color: #fff;
  color: #008080;
  transition: 0.3s;
}

.bnt_quem_somos:hover {
  background-color: #06afaf;
  color: #fff;
}

@media (max-width: 768px) {
  .somos .section {
    flex-direction: column;
  }

  .somos .section:nth-child(even) {
    flex-direction: column;
  }

  .bnt_experimente {
    margin-bottom: 60px;
  }

  .section-img {
    order: -1;
    display: flex;
    justify-content: center;
  }

  .texto_quem_somos,
  .texto_diferencial {
    margin-left: 0;
    text-align: center;
  }

  .section-img img {
    width: 70%;
  }
}


/* CONTATO */
/* FOOTER */
.contato {
  padding: 60px 20px;
  background-color: #fff;
  color: #008080;
}

.contato-top {
  text-align: center;
  margin-bottom: 90px;
}

.contato-top h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.contato-top p {
  font-size: 1.5rem;
  color: #3b8f90;
  margin-top: 40px;
}

.contatato-container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 80px;
  margin-left: 23%;
}

.contato-col,
.contato-suporte {
  flex: 1;
  min-width: 200px;
}

.contato-col h3,
.contato-suporte h3 {
  font-size: 1rem;
  margin-bottom: 15px;
  font-weight: bold;
  color: #008080;
}

.contato-col ul,
.contato-suporte ul {
  list-style: none;
}

.contato-col ul li,
.contato-suporte ul li {
  margin-bottom: 10px;
}

.contato-col ul li a,
.contato-suporte ul li a {
  text-decoration: none;
  font-size: 0.95rem;
  color: #1a2b6d;
  transition: 0.3s;
}

.contato-col ul li a:hover,
.contato-suporte ul li a:hover {
  opacity: 0.8;
}

.contato-suporte p {
  margin-bottom: 15px;
  color: #1a2b6d;
}

.social {
  display: flex;
  gap: 10px;
}

.social a img {
  width: 60px;
  height: 30px;
  transition: 0.3s;
}

.social a img:hover {
  opacity: 0.7;
}

.contato-bottom {
  border-top: 1px solid #dcdcdc;
  text-align: center;
  padding-top: 15px;
  font-size: 0.9rem;
  color: #3b8f90;
}

.contato-bottom a {
  text-decoration: none;
  color: #3b8f90;
  margin: 0 5px;
  transition: 0.3s;
}

.contato-bottom a:hover {
  opacity: 0.7;
}

/* FORMULÁRIO DE CONTATO */
.contato-form {
  width: 55%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 80px;
  margin-left: 23%;
  background-color: #006060;
  padding: 3%;
  border-radius: 8px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.firula,
.form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  padding-left: 3%;
}

.ipt_form {
  border-radius: 5px;
  border: none;
  width: 90%;
  height: 30px;
  outline: none;
  padding-left: 2%;
}

.label_ipt {
  margin-top: 5%;
  color: white;
}

.txt_area {
  border-radius: 5px;
  border: none;
  height: 55px;
  width: 90%;
  outline: none;
  padding-left: 2%;
}

.btn-msg {
  margin-top: 10%;
  padding: 1.5%;
  border-radius: 8px;
  border: none;
  background-color: #008080;
  color: white;
  width: 40%;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contato-form,
  .contatato-container {
    width: 90%;
    margin: 0 auto; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-top: 40px;
  }

  .contato-top p {
  font-size: 1.6rem; 
  color: #3b8f90;
  margin-top: 30px;
}

  .firula,
  .form {
    width: 100%;
    padding: 0;
  }

  .ipt_form,
  .txt_area {
    width: 100%;
    font-size: 0.95rem;
  }

  .btn-msg {
    width: 80%;
    padding: 3%;
    font-size: 1rem;
  }
}


/* testando cards */

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 40%;
  padding: 50px 0;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 20px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 3px;

  overflow: hidden;
  text-decoration: none;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;
  text-decoration: none;
  position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 67px;
  overflow: hidden;
  font-weight: 600;
  font-size: 20px;
  color: #FFF;
  text-align: start;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 14px;
  color: #FFF;
  z-index: 3;
  position: relative;
  text-align: start;

}

.ag-courses-item_date {
  font-weight: 500;
  color: #747474;
  text-align: start;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #178589;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #178589;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #178589;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #178589;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #178589;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #178589;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.bg-animado {
  background: linear-gradient(270deg, #007c7c, #00b0a0, #007c7c);
  background-size: 600% 600%;
  animation: moveGradient 10s ease infinite;
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}